{% extends 'base.html' %}
{% block content %}
<main class="container py-5 ">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis delectus debitis quisquam tenetur voluptatum et aperiam nemo asperiores quaerat eos assumenda eius, quas non sit odio saepe tempora. Ratione voluptatum sequi et cupiditate obcaecati sapiente! Fugit consequatur, ad quis amet placeat labore. Veniam aliquid earum praesentium saepe velit quasi officiis commodi, consectetur voluptatem amet eum mollitia rem optio dolore. Iusto inventore iste sunt placeat quisquam illum dicta nesciunt animi rem laudantium, possimus reiciendis explicabo quas earum officia vitae fugit alias. Corporis dolores quo non itaque beatae amet error voluptatem in reprehenderit, ab, dolorem illum quae fugit officia laborum cumque et?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/" >
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}